.header {
    margin: 0;
    padding: 1em;

    align-self: flex-start;

    user-select: none;
}

.header__title {
    margin: 0;
    padding: 0.25em 0.5em;

    font-weight: 700;
    letter-spacing: 0.1em;
    border-radius: 0.25em;

    color: var(--header-title-color);
    background: white;

    box-shadow: 0 1em 2em -1em var(--save-background-shadow);

    text-transform: uppercase;
}